In [1]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/Churn_Modelling.csv')

In [2]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [4]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [5]:
data.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

**Convert Geography,Gender column into numeric**

In [6]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [7]:
geo=pd.get_dummies(data['Geography'],drop_first=True)

In [8]:
gender=pd.get_dummies(data['Gender'],drop_first=True)

In [9]:
df=pd.concat([data,geo,gender],axis=1)

In [10]:
df.head()

   CreditScore Geography  Gender  Age  ...  Exited  Germany  Spain  Male
0          619    France  Female   42  ...       1        0      0     0
1          608     Spain  Female   41  ...       0        0      1     0
2          502    France  Female   42  ...       1        0      0     0
3          699    France  Female   39  ...       0        0      0     0
4          850     Spain  Female   43  ...       0        0      1     0

[5 rows x 14 columns]

In [11]:
df.drop(['Geography','Gender'],axis=1,inplace=True)

In [12]:
df.head()

   CreditScore  Age  Tenure    Balance  ...  Exited  Germany  Spain  Male
0          619   42       2       0.00  ...       1        0      0     0
1          608   41       1   83807.86  ...       0        0      1     0
2          502   42       8  159660.80  ...       1        0      0     0
3          699   39       1       0.00  ...       0        0      0     0
4          850   43       2  125510.82  ...       0        0      1     0

[5 rows x 12 columns]

In [17]:
x=df.drop('Exited',axis=1)
y=df["Exited"]
x.head()

   CreditScore  Age  Tenure    Balance  ...  EstimatedSalary  Germany  Spain  Male
0          619   42       2       0.00  ...        101348.88        0      0     0
1          608   41       1   83807.86  ...        112542.58        0      1     0
2          502   42       8  159660.80  ...        113931.57        0      0     0
3          699   39       1       0.00  ...         93826.63        0      0     0
4          850   43       2  125510.82  ...         79084.10        0      1     0

[5 rows x 11 columns]

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=67)

In [24]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [26]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout

In [27]:
classifier=Sequential()
classifier.add(Dense(units=7,kernel_initializer='he_uniform',activation='relu',input_dim=11))
classifier.add(Dense(units=7,activation='relu',kernel_initializer='he_uniform'))
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [28]:
classifier.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

In [29]:
model_history=classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
536/536 [==============================] - 2s 2ms/step - loss: 0.5183 - accuracy: 0.7839 - val_loss: 0.4840 - val_accuracy: 0.8039
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4878 - accuracy: 0.7929 - val_loss: 0.4691 - val_accuracy: 0.8039
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4754 - accuracy: 0.7929 - val_loss: 0.4609 - val_accuracy: 0.8039
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4670 - accuracy: 0.7923 - val_loss: 0.4555 - val_accuracy: 0.8035
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4609 - accuracy: 0.7931 - val_loss: 0.4519 - val_accuracy: 0.8031
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4560 - accuracy: 0.7932 - val_loss: 0.4489 - val_accuracy: 0.8042
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4518 - accuracy: 0.7936 - val_loss: 0.4457 - val_accuracy: 0.8050
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4478 - accuracy: 0.7942 - val_loss: 0.4429 - val_accuracy: 0.8073
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4441 - accuracy: 0.7942 - val_loss: 0.4400 - val_accuracy: 0.8065
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4407 - accuracy: 0.7957 - val_loss: 0.4369 - val_accuracy: 0.8061
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4369 - accuracy: 0.8003 - val_loss: 0.4333 - val_accuracy: 0.8099
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4330 - accuracy: 0.8011 - val_loss: 0.4309 - val_accuracy: 0.8141
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4298 - accuracy: 0.8041 - val_loss: 0.4280 - val_accuracy: 0.8183
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4266 - accuracy: 0.8110 - val_loss: 0.4245 - val_accuracy: 0.8198
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4238 - accuracy: 0.8110 - val_loss: 0.4220 - val_accuracy: 0.8209
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.8125 - val_loss: 0.4198 - val_accuracy: 0.8228
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.8160 - val_loss: 0.4175 - val_accuracy: 0.8224
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4166 - accuracy: 0.8164 - val_loss: 0.4162 - val_accuracy: 0.8228
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4146 - accuracy: 0.8169 - val_loss: 0.4143 - val_accuracy: 0.8247
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4127 - accuracy: 0.8173 - val_loss: 0.4124 - val_accuracy: 0.8247
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4110 - accuracy: 0.8169 - val_loss: 0.4114 - val_accuracy: 0.8251
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8182 - val_loss: 0.4098 - val_accuracy: 0.8254
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8181 - val_loss: 0.4094 - val_accuracy: 0.8247
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4070 - accuracy: 0.8194 - val_loss: 0.4078 - val_accuracy: 0.8251
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4056 - accuracy: 0.8196 - val_loss: 0.4073 - val_accuracy: 0.8243
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4046 - accuracy: 0.8201 - val_loss: 0.4057 - val_accuracy: 0.8254
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4034 - accuracy: 0.8192 - val_loss: 0.4050 - val_accuracy: 0.8262
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4023 - accuracy: 0.8201 - val_loss: 0.4039 - val_accuracy: 0.8266
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8197 - val_loss: 0.4026 - val_accuracy: 0.8277
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4000 - accuracy: 0.8188 - val_loss: 0.4019 - val_accuracy: 0.8277
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3987 - accuracy: 0.8197 - val_loss: 0.4007 - val_accuracy: 0.8281
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3974 - accuracy: 0.8199 - val_loss: 0.4000 - val_accuracy: 0.8277
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3961 - accuracy: 0.8210 - val_loss: 0.3993 - val_accuracy: 0.8270
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3947 - accuracy: 0.8218 - val_loss: 0.3980 - val_accuracy: 0.8266
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3935 - accuracy: 0.8214 - val_loss: 0.3959 - val_accuracy: 0.8292
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3919 - accuracy: 0.8210 - val_loss: 0.3954 - val_accuracy: 0.8292
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3904 - accuracy: 0.8235 - val_loss: 0.3949 - val_accuracy: 0.8304
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3886 - accuracy: 0.8248 - val_loss: 0.3918 - val_accuracy: 0.8323
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3870 - accuracy: 0.8229 - val_loss: 0.3915 - val_accuracy: 0.8342
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3853 - accuracy: 0.8248 - val_loss: 0.3893 - val_accuracy: 0.8360
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3832 - accuracy: 0.8265 - val_loss: 0.3869 - val_accuracy: 0.8387
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3816 - accuracy: 0.8283 - val_loss: 0.3866 - val_accuracy: 0.8360
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3795 - accuracy: 0.8293 - val_loss: 0.3851 - val_accuracy: 0.8391
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3777 - accuracy: 0.8319 - val_loss: 0.3835 - val_accuracy: 0.8406
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3758 - accuracy: 0.8322 - val_loss: 0.3811 - val_accuracy: 0.8421
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3743 - accuracy: 0.8336 - val_loss: 0.3798 - val_accuracy: 0.8436
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3725 - accuracy: 0.8341 - val_loss: 0.3778 - val_accuracy: 0.8448
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3708 - accuracy: 0.8352 - val_loss: 0.3770 - val_accuracy: 0.8451
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3694 - accuracy: 0.8347 - val_loss: 0.3767 - val_accuracy: 0.8448
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3678 - accuracy: 0.8386 - val_loss: 0.3754 - val_accuracy: 0.8451
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3661 - accuracy: 0.8371 - val_loss: 0.3730 - val_accuracy: 0.8470
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3649 - accuracy: 0.8405 - val_loss: 0.3715 - val_accuracy: 0.8470
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3633 - accuracy: 0.8395 - val_loss: 0.3716 - val_accuracy: 0.8440
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3619 - accuracy: 0.8401 - val_loss: 0.3687 - val_accuracy: 0.8493
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3609 - accuracy: 0.8416 - val_loss: 0.3682 - val_accuracy: 0.8474
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3596 - accuracy: 0.8423 - val_loss: 0.3674 - val_accuracy: 0.8478
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3585 - accuracy: 0.8431 - val_loss: 0.3667 - val_accuracy: 0.8482
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3575 - accuracy: 0.8433 - val_loss: 0.3646 - val_accuracy: 0.8504
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3564 - accuracy: 0.8453 - val_loss: 0.3636 - val_accuracy: 0.8501
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3555 - accuracy: 0.8423 - val_loss: 0.3630 - val_accuracy: 0.8508
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3544 - accuracy: 0.8455 - val_loss: 0.3622 - val_accuracy: 0.8501
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3535 - accuracy: 0.8479 - val_loss: 0.3613 - val_accuracy: 0.8504
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3528 - accuracy: 0.8481 - val_loss: 0.3606 - val_accuracy: 0.8485
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3519 - accuracy: 0.8481 - val_loss: 0.3604 - val_accuracy: 0.8508
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3511 - accuracy: 0.8502 - val_loss: 0.3612 - val_accuracy: 0.8516
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3506 - accuracy: 0.8502 - val_loss: 0.3590 - val_accuracy: 0.8493
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3498 - accuracy: 0.8500 - val_loss: 0.3581 - val_accuracy: 0.8493
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3493 - accuracy: 0.8511 - val_loss: 0.3572 - val_accuracy: 0.8485
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3488 - accuracy: 0.8517 - val_loss: 0.3581 - val_accuracy: 0.8504
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3483 - accuracy: 0.8505 - val_loss: 0.3567 - val_accuracy: 0.8504
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3477 - accuracy: 0.8513 - val_loss: 0.3557 - val_accuracy: 0.8508
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3473 - accuracy: 0.8520 - val_loss: 0.3570 - val_accuracy: 0.8508
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3468 - accuracy: 0.8524 - val_loss: 0.3569 - val_accuracy: 0.8508
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3463 - accuracy: 0.8520 - val_loss: 0.3558 - val_accuracy: 0.8512
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8513 - val_loss: 0.3554 - val_accuracy: 0.8523
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8509 - val_loss: 0.3555 - val_accuracy: 0.8516
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8522 - val_loss: 0.3538 - val_accuracy: 0.8523
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3450 - accuracy: 0.8515 - val_loss: 0.3541 - val_accuracy: 0.8523
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3446 - accuracy: 0.8511 - val_loss: 0.3525 - val_accuracy: 0.8535
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8535 - val_loss: 0.3526 - val_accuracy: 0.8531
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8541 - val_loss: 0.3518 - val_accuracy: 0.8546
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3436 - accuracy: 0.8543 - val_loss: 0.3520 - val_accuracy: 0.8542
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8518 - val_loss: 0.3520 - val_accuracy: 0.8519
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3431 - accuracy: 0.8531 - val_loss: 0.3507 - val_accuracy: 0.8538
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3426 - accuracy: 0.8546 - val_loss: 0.3500 - val_accuracy: 0.8542
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8559 - val_loss: 0.3500 - val_accuracy: 0.8546
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3422 - accuracy: 0.8543 - val_loss: 0.3508 - val_accuracy: 0.8542
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8539 - val_loss: 0.3516 - val_accuracy: 0.8546
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8548 - val_loss: 0.3505 - val_accuracy: 0.8550
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8543 - val_loss: 0.3508 - val_accuracy: 0.8542
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8541 - val_loss: 0.3491 - val_accuracy: 0.8550
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8556 - val_loss: 0.3499 - val_accuracy: 0.8573
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8561 - val_loss: 0.3494 - val_accuracy: 0.8557
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8548 - val_loss: 0.3492 - val_accuracy: 0.8554
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3407 - accuracy: 0.8550 - val_loss: 0.3476 - val_accuracy: 0.8557
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8552 - val_loss: 0.3476 - val_accuracy: 0.8550
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8548 - val_loss: 0.3480 - val_accuracy: 0.8557
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8561 - val_loss: 0.3472 - val_accuracy: 0.8561
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8556 - val_loss: 0.3495 - val_accuracy: 0.8546
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8541 - val_loss: 0.3475 - val_accuracy: 0.8565

In [30]:
y_pred=classifier.predict(x_test)

In [32]:
y_pred=(y_pred>0.5)

In [34]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [35]:
cm

array([[1524,   67],
       [ 204,  205]])

In [36]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [37]:
score

0.8645